<h1>New Brew!</h1>

<form action="<%= brews_url %>" method="post">
	<table>
		<tr>
			<input type="hidden" name="authenticity_token"
					value="<%= form_authenticity_token %>">
			<label for="brew_name">Brew name</label>
			<td>
			<input
				type="text"
				name="brew[name]"
				value="<%= @brew.name %>"
				id="brew_name">
			</td>

			<td>
			<label for="brew_date">Brew date</label>
			<input
				type="date"
				name="brew[date]"
				id="brew_date">
			</td>
			<td>
			<input type="submit">
			</td>
		</tr>
		<tr>
			<td>
			<label for="hop_addition_notes">Hop addition notes</label>
			<textarea
				
				rows = "10"
				cols = "30"
				name="hop_addition[notes]"
				id="hop_addition_notes">
			</textarea>
			</td>
		</tr>
		<tr>
			<td>
			<label for="hop_name">Hop name</label>
			<input
				type="text"
				name="hop[0][name]"
				id="hop_name">
			</td>

			<td>
			<label for="hop_name">Hop form</label>
			<input
				type="text"
				name="hop[0][form]"
				id="hop_form">
			</td>

			<td>
			<label for="hop_quantity">Hop quantity</label>
			<input
				type="text"
				name="hop[0][quantity]"
				id="hop_quantity">
			</td>

			<td>
			<label for="hop_name">Hop boil time</label>
			<input
				type="text"
				name="hop[0][boil_time]"
				id="hop_boil_time">
			</td>
		</tr>
		<tr>
			<td>
			<label for="hop_name">Hop name</label>
			<input
				type="text"
				name="hop[1][name]"
				id="hop_name">
			</td>

			<td>
			<label for="hop_name">Hop form</label>
			<input
				type="text"
				name="hop[1][form]"
				id="hop_form">
			</td>

			<td>
			<label for="hop_quantity">Hop quantity</label>
			<input
				type="text"
				name="hop[1][quantity]"
				id="hop_quantity">
			</td>

			<td>
			<label for="hop_name">Hop boil time</label>
			<input
				type="text"
				name="hop[1][boil_time]"
				id="hop_boil_time">
			</td>
		</tr>

		<tr>
			<td>
			<label for="malt_addition_notes">Malt addition notes</label>
			<textarea
				
				rows = "10"
				cols = "30"
				name="malt_addition[notes]"
				id="malt_addition_notes">
			</textarea>
			</td>
		</tr>
		<tr>
			<td>
			<label for="malt_name">Malt name</label>
			<input
				type="text"
				name="malt[name]"
				id="malt_name">
			</td>
			<td>
			<label for="malt_quantity">Malt quantity</label>
			<input
				type="text"
				name="malt[quantity]"
				id="malt_quantity">
			</td>
		</tr>

		<tr>
			<td>
				<label for="grain_mash_notes">Grain mash notes</label>
				<textarea
					rows = "10"
					cols = "30"
					name="grain_mash[notes]"
					id="grain_mash_notes">
				</textarea>
			</td>
		</tr>
		<tr>
			<td>
			<label for="grain_name">Grain name</label>
			<input
				type="text"
				name="grain[name]"
				id="grain_name">
			</td>
			<td>
			<label for="grain_name">Grain quantity</label>
			<input
				type="text"
				name="grain[quantity]"
				id="grain_quantity">
			</td>
			<td>
			<label for="grain_name">Grain mash temp</label>
			<input
				type="text"
				name="grain[mash_temp]"
				id="grain_mash_temp">
			</td>
			<td>
			<label for="grain_name">Grain mash time</label>
			<input
				type="text"
				name="grain[mash_time]"
				id="grain_mash_time">
			</td>
		</tr>

		<tr>
			<td>
			<label for="yeast_name">Yeast name</label>
			<input
				type="text"
				name="yeast[name]"
				id="yeast_name">
			</td>
		</tr>
	</table>
</form>